*{
    margin: 0;
    padding: 0;
} 

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana;
    font-weight: 400;
}
.nav_links ul li::after{
    content: ' '; 
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width: 100%;
}
.text_box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1{
    font-size: 52px;
    font-family: Verdana;
}
.text_box p{
    margin: 20px 0 40px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 530;
}
.action_btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.action_btn:hover{
    background: red;
    border: 1px solid red;
    transition: 1s;
}
@media(max-width: 700px){ 
    .text_box h1{
        font-size: 30px;
    }
    .text_box p{
        font-size: 14px;
    }
    .nav_links ul li{
        display: block;
    }
    /*.nav_links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }*/
    .row{ 
        flex-direction: column;
    }
    .contact h1{
        font-size: 22px;
    }
}

/*-------About Us---------*/
.aboutus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.aboutus h1{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 800;
}
.aboutus p{
    color: rgb(77, 75, 75);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.designs{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
} 
.designs h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.designs:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*-------Services---------*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.services h1{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 800;
}
.services p{
    color: rgb(77, 75, 75);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.jobs{
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.jobs img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);  
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/*-------CONTACT US---------*/
 .contact{
     margin: 100px auto;
     width: 80%;
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/banner2.jpg);
     background-position: center;
     background-size: cover;
     border-radius: 10px;
     text-align: center;
     padding: 100px 0;
 } 
 .contact h1{
     color: white;
     margin-bottom: 40px;
     padding: 0;
 }

 /*-------FOOTER---------*/
.footer{
    text-align: center;
    width: 100%;
    padding: 30px 0;
    color: white;
    background: rgb(20, 20, 20);
    background-size: cover;
    position: relative;
    background-position: bottom;
}
.footer h4{
    margin-bottom: 25px;
    font-weight: 600;
    color: white;
    font-size: 22px;
}
.footer p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
}

 /*-------SUBHEADER ABOUT US PAGE---------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/library.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: 80px;
    font-size: 32px;
}
.about_us{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content{
    flex-basis: 48%;
    padding: 30px 2px;
}
.content img{
    width: 100%;
}
.content h1{
    padding-top: 0;
}
.content p{
    padding: 15px 0 25px;
}
.new_btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.new_btn:hover{
    color: white;
}

/*-------SERVICE HEADER PAGE---------*/
.service_header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.service_header h1{
    margin-top: 80px;
    font-size: 32px;
}
.service_btn{
    margin-left: 40%;
    margin-bottom: 8%;   
}
.contact-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.contact-header h1{
    margin-top: 80px;
    font-size: 32px;
}
.contactform input, .contactform textarea{
    width: 90%;
    padding: 15px;
    margin-left: 50px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact_btn{
    margin-left: 50px;
    margin-bottom: 8%;
}






